<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/hfe6fuf.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <title>ReMask</title>
</head>
<body>
 
     <!--NAV BAR-->
     <nav class="navbar navbar-expand-lg navbar-light bg-light  fixed"> 
        <div class="container">
            <a class="navbar-brand" href="/index.html">
                <img src="./public/logo.jpeg" alt="" width="200px" class="d-inline-block align-text-top">
              </a> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">WHO WE ARE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">WHAT WE DO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login.html">LOG IN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="signin.html">SIGN UP</a>
              </li>
              <li class="nav-item">
                <button class="nav-link active" aria-current="page" href="#">GET IN TOUCH</a>
              </li> 
            </ul>   
          </div>
        </div>
      </nav>
      <!--NAV BAR ENDED-->
 
 
       <!--HOME SCREEN LAYOUT-->
       
       <div class="pt-5 home">
       <div class="container"  style="margin-bottom: 300px;" >
        <div class="row">
          <div class="col">
            <div class="container">
                <div class="row row-cols-1">
                  <div class="col">
                    <p class="text01"> 
                       A Platform for Sustainable Living <br>
                       During the Current Pandemic <br>
                       Promoting Recyling of COVID-Waste <br>
                       With Our Services 
                    </p>
                    </div>
                  <div class="col">  
                    <p class="text02">
                       Sign in - Donate - Recycle - Sustain
                    </p>
                  </div>
                  <div class="col"> 
                      <button class="Button01">
                        Let's Forsee Our Planet's Need
                      </button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div> 
    </div>  
</div>
      <!--HOME SCREEN LAYOUT ENDED-->
 
           <!--GREEN BOX LAYOUT-->
     <section>
      <div class="greenfill">
                <!--STARS LAYOUT-->
       <div class="container starbox">
         <div class="row">
           <div class="col">
             <div class="container">
                 <div class="row justify-content-center mb-5">              
                     GOALS
                 </div>
                 <div class="row align-items-center">
                     <div class="col"> 
                         <img style="border-radius: 8px;" src="./public/Awareness.jpeg" width="80%" alt="logo">
                     </div>
                     <div class="col">
                         <img style="border-radius: 8px;" src="./public/Sustainability.jpeg" width="80%" alt="logo">
                     </div>
                 </div>
               </div>
             
           </div>
           <div class="col">
             <div class="col">
                 <div class="container">
                     <div class="row justify-content-center mb-5">              
                         BELIEFS
                     </div>
                     <div class="row justify-content-center mb-2">              
                         <div class="col"> 
                             THINK
                         </div>
                         <div class="col">
                             ENVISION
                         </div>
                         <div class="col"> 
                             PERSIST
                         </div>
                         <div class="col">
                             SAVE
                         </div>
                     </div>
                     <div class="row justify-content-center mb-5">              
                         <img style="border-radius: 8px;" src="./public/Beliefs.jpeg" width="60%" alt="logo">
                     </div>
                   
                 </div>
           </div>
         </div>  
     </div>
    </div>
      <!--STARS LAYOUT ENDED-->
     
         <div class="col gbox"> 
         <div class="col">
             <div class="container">
                 <div class="row justify-content-center mb-5">              
                  Awareness of Recycling of COVID-Waste
                 </div>
                 <div class="row justify-content-center text-align-center mb-5">              
                  Did you know that the Masks we wear can be reused? Let's Get To Know More About How COVID-Waste can be Recycled. Click on the The Cards to Get To Know More About Recycling of COVID-Waste which is very much essential currently.              
                 </div>
                 <div class="row justify-content-center mb-5">              
                     <div class="col"> 
                        <a href="https://earth911.com/living-well-being/can-face-masks-be-recycled/">
                         <section class="stats01">
                             <div class="row justify-content-center mb-3">              
                                 <img style="border-radius: 8px;" src="public/recycle1.jpeg" alt="recycle"/>
                             </div>
                         </section>
                        </a>
                     </div>
                     <div class="col">
                        <a href="https://phys.org/news/2021-05-pandemic-mask-mountain-recycling.html">
                         <section class="stats01">
                             <div class="row justify-content-center mb-3">              
                                <img style="border-radius: 8px;" src="public/recycle2.jpeg" alt="recycle"/>
                             </div>
                             
                         </section>
                        </a>
                     </div>
                     <div class="col"> 
                         <a href="https://www.narayanahealth.org/blog/know-about-proper-usage-disposal-and-reuse-of-mask/">
                         <section class="stats01">
                             <div class="row justify-content-center mb-3">              
                                <img style="border-radius: 8px;" src="public/recycle3.jpeg" alt="recycle"/>
                             </div>    
                         </section>
                        </a>
                     </div>
                     <div class="col">
                        <a href="https://www.eurekalert.org/pub_releases/2021-02/ru-rfm020221.php">
                         <section class="stats01">
                             <div class="row justify-content-center mb-3">              
                                <img style="border-radius: 8px;" src="public/recycle4.jpeg" alt="recycle"/>
                             </div>
                            
                         </section>
                        </a>
                     </div>
                     <div class="col">
                        <a href="https://swachhindia.ndtv.com/covid-19-waste-management-disposable-face-masks-can-be-recycled-to-make-roads-says-study-56268/">
                         <section class="stats01">
                             <div class="row justify-content-center mb-3">        
                                <img  style="border-radius: 8px;" src="public/recycle5.jpg" alt="recycle"/>
                             </div>
                         </section>
                        </a>
                     </div>
                 </div>
               </div>
       </div>
     </div>
 </section>
       <!--GREEN BOX LAYOUT ENDED-->

       <!--VIDEO-->
       <section class="container" style="margin-top: 20px;">
           <div class="row">
               <div class="col-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uZiUP3Yg8Tk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div class="col-6">
                <p class="aboutHead">
                  Awareness of Recycling of COVID-Waste
                </p>
                <p>
                  Did you know that the Masks we wear can be reused? Let's Get To Know More About How COVID-Waste can be Recycled. Click on the The Cards to Get To Know More About Recycling of COVID-Waste which is very much essential currently.
                    <a href="https://sites.google.com/view/brick2/home">Visit to Know more</a>
                   
                </p>  
               </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                 <p class="aboutHead">
                  Awareness of Recycling of COVID-Waste
                 </p>
                 <p>
                  Did you know that the Masks we wear can be reused? Let's Get To Know More About How COVID-Waste can be Recycled. Click on the The Cards to Get To Know More About Recycling of COVID-Waste which is very much essential currently.
                     <a href="https://sites.google.com/view/brick2/home">Visit to Know more</a>
                    
                 </p>  
                </div>
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/z1fAh1gE57w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
             </div>
            </section>
       <!--VIDEO END-->

       <!--ABOUT US WHITE BOX START-->
 
       <section class="container tips mt-5">
        <div>
          <p class="headTip" style="text-align: center;">ABOUT US</p>
        </div>
 
        <div class="row">
          <div class="col" style="height: 200px;width:80%">
            <div class="container">
              <div class="row tipcard">
                <div class="col-5 text-center">
                  <img src="./public/WHOAREWE.jpeg" width="75%" alt="logo">
                </div>
                <div class="col-7">
                  <div class="row mt-2" style="font-weight: bold;">              
                    Who are We?
                  </div>
                  <div class="row mt-1">              
                    We are Sustainability Enthusiasts <br>
                    Focusing on One Problem at a time <br>
                    Our Goal is to Forsee Challenges that Our <br>
                    Planet Earth Might Face
                  </div>
                  <div class="row mt-4" style="font-weight: 800;">              
                      #SustainEarthWithReMask
                  </div> 
                </div>
              </div>
            </div>      
          </div>
 
          <div class="col" style="height: 200px;width:80%">
            <div class="container">
              <div class="row tipcard">
                <div class="col-5 text-center">
                  <img src="./public/WHATWEDO.jpeg" width="75%" alt="logo">
                </div>
                <div class="col-7">
                  <div class="row mt-2" style="font-weight: bold;">              
                      What do We Do?
                  </div>
                  <div class="row">              
                      Our Current Focus <br>
                      In the Pandemic Situation <br>
                      Help Recycle The COVID Waste <br>
                      Donate-Recycle-Sustain with Us
                  </div>
                  <div class="row mt-4" style="font-weight: 800;">              
                    #SustainEarthWithReMask
                  </div> 
                </div>
              </div>
            </div>      
          </div>
          
 
        </div>
      </section>
 
      <!--ABOUT US END-->

       <!--ABOUT LAYOUT-->
       <section class="about">
        <div class="container pt-5">
            <div class="row">
              <div class="col">
                  <p class="aboutHead">
                      We hoped you'd <br/>end up here.
                  </p>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput">
                    <label for="floatingInput">Full Name</label>
                  </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput">
                  <label for="floatingInput">Mobile Number</label>
                </div>
              
                <div class="form-floating mb-3" style="border-radius: 20px;">
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Project Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <label for="floatingSelect mb-3">Works with selects</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput">
                  <label for="floatingInput">Tell us about your Project</label>
                </div>

                <div class="mt-3">
                  <button class="sendButton">
                    Send It
                  </button>
                </div>

              </div>
              <div class="col">
                <img src="./public/CONTACTREMASK.jpeg" width="100%" alt="team">
              </div>
            </div>
        </div>
      </section>  

 
 
 
 
       
    
</body>
</html>
